.about-area{
    .about-text{
        h2{
            font-size: 42px;
            line-height: 80px;
        }
        .about-desc{
            p{
                font-size: 18px;
                line-height: 26px;
                color: #2B343F;
                opacity: 0.7;
                margin-bottom: 30px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
    
}