/* buttons */
.theme-btn {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-transform: capitalize;
    padding: 10px 17px;
    text-decoration: none;
}

.theme-btn-primary {
    background: #1374ec;
    color: #fff;
    border-radius: 6px;
    border: 1px solid #0d59af79;

    &:hover {
        background: transparent;
        color: #0d59af;
    }
}
.transparent-btn{
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: #1374EC;
    font-weight: 500;
}
.theme-rounded-btn{
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: rgba(19, 116, 236, 0.8);
    text-decoration: none;
    background:#75c7b822;
    padding: 3px 60px;
    border-radius: 22px;
    
}