.contact-area{
    overflow: hidden;
}
.contact-info{
    ul li{
        margin-bottom: 20px;
    }
    .icon{
        float: left;
        margin-right: 28px;
        background: #E9FCFF;
        border: 3px dashed #15D9FD;
        box-sizing: border-box;
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 50%;
        text-align: center;
        position: relative;      
        i{
            font-size: 23px;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            color: #046CF8;
        }
    }
    .address{
        overflow: hidden;
        p{
            span:first-child{
                float: left;
                font-weight: 600;
                margin-bottom: 10px;
                margin-right: 5px;
            }
            span:last-child{
                overflow: hidden;
            }
            font-family: "Roboto";
            font-style: normal;
            font-weight: 300;
            font-size: 22px;
            line-height: 34px;
            color: #2B343F;
            margin-top: 5px;
        }
    }
}

.contact-info-wrapper{
    margin-bottom: 120px;
    height: 663px;
    .contact-form-area {
        float: left;
        width: 45%;
        padding: 50px;
        background: #FFFFFF;
        box-shadow: 0px 10px 130px rgba(237, 243, 250, 0.9);
        height: 100%;
        h2{
            font-family: 'Nunito Sans';
            font-weight: 600;
            font-size: 38px;
            line-height: 48px;
            color: #2B343F;
            margin-bottom: 50px;
        }
        .contact-form{
            input{
                margin-bottom: 25px;
                background-color: #F2F5F7;
                padding: 24px 35px;
                border-radius: 0;
                border: 0 solid transparent;
                height: 70px;
            }
            ::placeholder{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 22px;
                color: #2B343F;
                opacity: 0.6;
            }

            .contact-form-btn{
                width: 192px;
                text-transform: capitalize;
                padding: 17px 0;
                border-radius: 30px;
                margin-top: 24px;
            }
        }
    }

    .google-map{
        overflow: hidden;
        width: 55%;
        height: 100%;
    }
}

.btn-primary.focus, 
.btn-primary:focus {
	color: #fff;
	background-color: #0069d9;
	border-color: #0062cc;
	box-shadow: inherit;
}
.form-control:focus {
    color: #2B343F;
    background-color: #fff;
    border-color: transparent;
    outline: 0;
    box-shadow: inherit;
}