.cta-area{
    .cta-area-wrap{
        max-width: 923px;
        margin: 0px auto;
        .section-title{
            h2{
                color: #000000;
            }
        }
        .section-subtitle{
            p{
                color: #6D6D6D;
            }
        }
        .cta-btn{
            .button{
                line-height: 26px;
            }
        }
    }
}