.features-area {

    .features-left,
    .features-right {
        .features-top {
            span {
                display: inline-block;
                font-size: 16px;
                line-height: 26px;
                color: #6D6D6D;
            }
        }

    }

    .section-title {
        h2 {
            color: #000000;
            padding-right: 50px;
        }
    }

    .features-list {
        font-size: 20px;
        line-height: 30px;
        font-weight: 600;
        color: #5A5A5A;

        li {
            margin-bottom: 30px;

        }

        span {
            display: inline-block;
            height: 38px;
            width: 38px;
            text-align: center;
            line-height: 38px;
            color: #C9C9C9;
            background: #E5E5E5;
            border-radius: 50%;
            margin-right: 40px;
            transition: all ease-in 0.3s;

            &:hover {
                background: #2C8AFF;
                color: #fff;
            }
        }
    }

    .features-bottom {
        p {
            color: #6D6D6D;
        }

        padding-left: 78px;

        a {
            text-decoration: none;
            font-size: 16px;
            line-height: 26px;
            color: #2C8AFF;
            letter-spacing: 0.05em;
        }
    }

    .features-img-wrapper {
        position: relative;
    }

    .feature-card {
        position: absolute;
        bottom: -60px;
        right: 20%;
        border-top-left-radius: 21px;
        border-top-right-radius: 21px;
        filter: drop-shadow(1.78px,
                1.78px rgba(0, 0, 0, 0.04));
        box-shadow: 2px 2px 1px 3px rgba(128, 128, 128, 0.168);

        .features-card-list {
            ul {
                display: flex;
                align-items: center;

                li {
                    font-size: 14px;
                    line-height: 24px;
                    color: #6d6d6d;
                }
            }
        }
    }

    .features-bottom-img-area {
        position: relative;

        .right-bottom-img {
            position: absolute;
            bottom: -160px;
            right: 10px;
            z-index: 887;
        }

        .active-chat-card {
            position: absolute;
            top: 100px;
            right: 70px;

            .active-chat {
                line-height: 22px;
                text-transform: capitalize;
                border-radius: 25px;

                span {
                    display: inline-block;
                    background: #fff;
                    line-height: 28px;
                    color: #6BADFF;
                    width: 45px;
                    height: 28px;
                    font-weight: 700;
                    border-radius: 25px;
                    text-transform: capitalize;
                    text-align: center;
                    margin-right: 7px;
                }
            }
        }

        .features-shadow-img {
            position: absolute;
            top: -40px;
            left: -40px;
            z-index: -29;
        }

    }
}

@media all and (min-width:320px) and (max-width:575px) {
    .features-area .section-title h2 {
        padding-right: 0px;
    }

    .features-area .features-bottom-img-area .right-bottom-img {
        right: -70px;
    }

}

@media all and (min-width:576px) and (max-width:767px) {
    .features-area .section-title h2 {
        padding-right: 0px;
    }
}

@media all and (min-width:768px) and (max-width:992px) {

    .features-area .featurs-img-area {
        margin-left: 80px;
    }

    .features-area .section-title h2 {
        padding-right: 0px;
    }

}