/** feature-area **/
.feature-area{
    .single-feature-item{
        padding: 70px 30px;
        background-color: #2A2D30;
        h3{
            font-size: 20px;
            color: #fff;
            text-transform: capitalize;
            margin-bottom: 20px;
        }
        p{
            color: #bdbdbd;
            margin-bottom: 50px;
        }
        .theme-btn{
            a{
                font-size: 13px;
                line-height: 26px;
                color: #fff;
                text-transform: uppercase;
            }
        }

        &:hover{
            background: #25282B;
        }
    }
}