/** Latest Blog **/
.latest-blog-area{
    .single-blog-item{
        .blog-thumb{
            img{
                width: 100%;
            }
        }
        .inner-blog-wrapper {
            background-color: #fff;
            padding: 35px 30px;
            .blog-title{
                h3{
                    font-size: 18px;
                    color: #222222;
                    line-height: 26px;
                    text-transform: uppercase;
                    margin-bottom: 8px;

                    &:hover{
                        color: #f26957ed;
                        cursor: pointer;
                    }
                }

            }
            .blog-meta{
                span{
                    font-size: 13px;
                    color: #666666;
                    text-transform: uppercase;
                    margin-bottom: 16px;
                    a{
                        color: #666666;
                    }
                }
            }
            .blog-text{
                border-bottom: 1px solid #DDDDDD;
                margin-bottom: 25px;
                padding-bottom: 25px;
            }
            .theme-btn{
                a {
                    font-size: 13px;
                    line-height: 26px;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #444444;
                }
            }
        }
    }
}
