/** service-area **/
.services-area {
    position: relative;
    .single-service-item.style-1{
        box-shadow: 0px 10px 130px #EDF3FA;
        background-color: #fff;
        padding: 25px;
        min-height: 260px;
        .service-thumb{
            background: #EBF6F8;
            border-radius: 0px 31px 0px 35px;
            width: 164px;
            height: 167px;
            float: left;
            margin-bottom: 34px;
        }
        .service-content{
            overflow: hidden;
            padding-left: 40px;
            h3{
                font-size: 26px;
                font-weight: 600;
                margin-bottom: 12px;
                line-height: 40px;
                color: #2B343F;
                opacity: 0.9;
            }
            p {
                font-family: "Roboto";
                font-weight: 300;
                font-size: 15px;
                line-height: 24px;
                color: #2B343F;
                opacity: 0.85;
                padding-right: 2px;
            }
        }
    }

    .service-bg-thumb{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .single-service-item.style-2 {
        background: #FFFFFF;
        box-shadow: 5px 10px 130px rgba(247, 243, 237, 0.8);
        padding: 25px 19px;
        transition: 0.3s;
        min-height: 332px;
        .service-number{
            margin-bottom: 20px;
            span{
                font-family: 'Nunito Sans';
                font-weight: 600;
                font-size: 40px;
                color: #046CF8;
                width: 76px;
                height: 76px;
                display: inline-block;
                line-height: 76px;
                text-align: center;
                border-radius: 50%;
                background-color: #E9FCFF;
                border: 1px dashed #15D9FD;
                box-sizing: border-box;
            }
        }
        .service-content{
            h3{
                font-weight: 600;
                font-size: 22px;
                line-height: 30px;
                color: #2B343F;
                opacity: 0.9;
                padding-right: 10px;
                margin-bottom: 20px;
            }
            p {
                font-weight: 300;
                font-size: 15px;
                line-height: 24px;
                color: #2B343F;
                opacity: 0.85;
            }
        }
    }
}