.slider-area.style-1{
    background-repeat: no-repeat;
    background-image: linear-gradient(278.49deg, #046CF8 34.5%, #26C7FE 100%);
    margin-bottom: 0;
    .single-slide-item{
        .slide-thumb{
            position: absolute;
            top: 50%;
            right: 100px;
            transform: translateY(-50%);
        }
        .slider-thumb-left{
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
        .slide-text{
            padding: 147.70px 0;
            h2{
                font-style: normal;
                font-weight: 600;
                font-size: 76px;
                line-height: 80px;
                color: #fff;
                margin-bottom: 60px;
                > span {
                    display: block;
                }
            }
            p{
                line-height: 26px;
                color: #fff;
                opacity: .9;
                margin-bottom: 60px;
            }
            .theme-btn{
                a {
                    font-family: "Nunito Sans", sans-serif;
                    font-size: 18px;
                    line-height: 26px;
                    text-transform: capitalize;
                    color: #fff;
                    border: 1px solid #046CF8;
                    padding: 12px 41.17px;
                    border-radius: 30px;
                    background-color: #046CF8;
                }
            }
        }
    }
}